*{
    margin: 0;
    padding:0;
}
.wrap{
    background-color: #f6f6f6;
}

.nav-line{
    background-color: #efefef;
    color: #8d8d8d;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}
.nav-line img{
    height: 0.8rem;
    width: 1.5rem;
    padding-right: 2rem;
}
.content{
    width:90%;
    margin: 0 auto;
    border-bottom: 1px solid #d0d0d0;
}
.content:nth-last-child(1 ){
    border-bottom: 0;
}
.content:nth-child(2n) .content-time{
    color: orange;
}
.content:nth-child(3n) .content-time{
    color: lightblue;
}
.content-time{
    padding:1rem 0;
    color: red;
}
.content-inner{
    color: #8d8d8d;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}
.flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content-name{
    font-size: 1.2rem;
    /*line-height: 4rem;*/
}
.content-small{
    font-size: 1rem;
    color: gray;
    line-height: 4rem;
}
.content-img{
    width: 1.5rem;
    height: 1.5rem;

}
.content-head{
    color: red;
    font-size: 1rem;
    padding: 1rem 0;
    font-weight:bold;
}
.content:nth-child(2n) .content-head,.content-answer{
    color: orange;
}
.content:nth-child(3n) .content-head{
    color: lightblue;
}
.content-input{
    border-top: 1px solid gray;
    border-left: 1px solid lightgray;
    width: 70%;
    height: 1.5rem;
    background-color: white;
    margin-bottom: 1rem;
}
.content-input input{
    width: 90%;
    height: 1rem;
    margin-left: 5%;
    border:none;
}
.content-input input:focus{
    /*border: 0;*/
    outline:none;
}
.upload{
    display: flex;
    justify-content: space-between;
}
.upload img{
    width: 1.5rem;
    height: 1.5rem;
}
/*.content .content-answer{*/
    /*color: red;*/
/*}*/

.close{
    height: 0;
    overflow: hidden;
}
.open{
    transition: height 1s;
    overflow: auto;
}
