<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ing.gzq.dao.CourseDao">
    <insert id="insertCourse" parameterType="ing.gzq.model.Course" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
         INSERT INTO course (teacherId,name, introduce)
         VALUES (#{teacherId},#{name},#{introduce})
    </insert>
    <select id="getCourseByTeacherId" parameterType="string" resultMap="courseMap">
        select `id` , teacherId , `name` , introduce , `date`
        from course
        where teacherId = #{teacherId};
    </select>
    <select id="getLessons" parameterType="string" resultType="ing.gzq.model.Lesson">
        SELECT id , courseId , introduce , `date` , state
        FROM lesson
        WHERE courseId = #{courseId}
    </select>
    <select id="getCourseByStudentId" parameterType="string" resultMap="courseMap">
        select c.id , c.teacherId , c.name , c.introduce , c.date
        from course_student cs
        left join course c
        on cs.courseId = c.id
        WHERE cs.studentId = #{studentId}
    </select>
    <resultMap id="courseMap" type="ing.gzq.model.Course">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacherId"/>
        <result property="name" column="name"/>
        <result property="introduce" column="introduce"/>
        <result property="date" column="date"/>
        <association property="teacherInfo" column="teacherId" select="ing.gzq.dao.UserDao.getTeacherInfo"/>
        <collection property="lessons" column="id" select="ing.gzq.dao.CourseDao.getLessons"/>
    </resultMap>
</mapper>