<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ing.gzq.dao.FileDao">

    <insert id="insertFile" parameterType="ing.gzq.model.SharedFile" useGeneratedKeys="true" keyColumn="id"
            keyProperty="id">
        INSERT INTO file (courseId, uploaderId, filename, `size`, `date`)
        VALUES ( #{courseId} , #{uploaderId} , #{fileName} , #{size} , NOW())
    </insert>
    <select id="getFileList" resultType="ing.gzq.model.SharedFile">
        select f.id , f.courseId , f.uploaderId , f.fileName , f.size , f.date , u.name as uploaderName
        from file f
        left join user u
        on f.uploaderId = u.username
        where f.courseId = #{courseId}
    </select>
    <select id="getFileById" resultType="ing.gzq.model.SharedFile">
        SELECT id , courseId , uploaderId , filename , `size` , `date`
        from file
        WHERE id = #{fileId}
    </select>
</mapper>