<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ing.gzq.dao.UserDao">
    <select id="getUserById" resultMap="userMap" parameterType="string">
        SELECT id , password , `name`, `type`
        FROM user
        WHERE id = #{id}
    </select>
    <select id="getAuthorities" resultMap="simpleGrantedAuthorityMap" parameterType="string">
        SELECT role
        FROM user_role
        WHERE uid = #{id}
    </select>
    <resultMap id="userMap" type="ing.gzq.model.User">
        <id property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <collection property="authorities" column="id" select="ing.gzq.dao.UserDao.getAuthorities"/>
    </resultMap>
    <resultMap id="simpleGrantedAuthorityMap" type="org.springframework.security.core.authority.SimpleGrantedAuthority">
        <constructor>
            <arg column="role" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>