<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ing.gzq.dao.UserDao">
    <insert id="insertUser" parameterType="ing.gzq.model.User">
        INSERT INTO user (username,name,type,password)
        VALUES (#{username},#{name},#{type},#{password})
    </insert>
    <insert id="giveAuthority" parameterType="ing.gzq.model.User">
        INSERT INTO user_role
        VALUES (#{username},#{role})
    </insert>
    <update id="updateUserName">
        UPDATE user
        SET name = #{name}
        WHERE username = #{username}
    </update>
    <select id="getUserByUsername" resultMap="userMap" parameterType="string">
        SELECT username , password , `name`, `type`
        FROM user
        WHERE username = #{username}
    </select>
    <select id="getAuthorities" resultMap="simpleGrantedAuthorityMap" parameterType="string">
        SELECT role
        FROM user_role
        WHERE uid = #{username}
    </select>
    <select id="getTeacherInfo" parameterType="string" resultType="ing.gzq.model.TeacherInfo">
        SELECT `name` , introduce
        FROM user
        where username = #{teacherId} AND `type` = "teacher"
    </select>
    <resultMap id="userMap" type="ing.gzq.model.User">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <collection property="authorities" column="username" select="ing.gzq.dao.UserDao.getAuthorities"/>
    </resultMap>
    <resultMap id="simpleGrantedAuthorityMap" type="org.springframework.security.core.authority.SimpleGrantedAuthority">
        <constructor>
            <arg column="role" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>